<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit todos</title>
    <link rel="stylesheet" href="/styles/edit.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/new.css">
    <link rel="stylesheet" href="/styles/detail.css">
    <link rel="stylesheet" href="/styles/base.css">
</head>
<header>
  <nav>
    <a href="/" class="hover-style">Home</a>
    <a href="/todos/new">Create</a>
    <a href="https://github.com" target="_blank" class="hover-style">GitHub</a> <!-- Suggestion: external link -->
  </nav>
</header>
